/* 设置页头和页尾的宽度为100% */
.my_header,.my_footer{width:100%}
/* 设置像素最大为1200px，和最小992px时，页头和页尾的高度 */
@media (min-width:992px) and (max-width:1200px) {
    .my_header{height:8rem}
    .my_footer{height:9rem}
}
/* 设置像素最大为991px，和最小576px时，页头和页尾的高度 */
@media (max-width:991px) and (min-width: 576px) {
    .my_header{height:8rem}
    .my_footer{height:12rem}
}
/* 设置像素最大为575px时，页头和页尾的高度 */
@media (max-width:575px) {
    .my_header{height:8rem}
    .my_footer{height:13rem}
}
/* 设置字体的大小 */
.my_text_size{
    font-size: 0.7rem;
}
/* 设置宽度为20% */
.w-20{
    width: 20%;
}
/* 轮播图左右箭头 */
.carousel-control-prev,.carousel-control-next{
    width:4%;height:20%;
    top:40%;
    background-color:rgba(0,0,0,.3);
    border-radius:0.25rem;
}
/* 设置背景颜色和背景图片 */
.progress-bar-striped_my_index {
    background:url(../img/index/bg_icon.jpg);
    background-color:#ededed;
}

/* .progress-bar.bg-white{
    box-sizing:border-box;
} */
/* 设置轮播图四个点的宽高和颜色 */
.carousel-indicators li{
    background:#efa2a9;
    width:1.2rem;
    height:0.3rem;
    
}
/* 设置轮播图四个点的下外边距 */
.carousel-indicators{
    margin-bottom: 1px !important;
}
/* 设置轮播图四个点的左边第一个为默认颜色 */
.carousel-indicators .active {
    background-color:#ff0000;
}
/* 设置宽度95% */
.w-95{
    width:95%;
}
/* 设置宽度90% */
.w-90{
    width:90%;
}

.icon-more:before { content: "\e6a7"; }
/* 设置友情链接的宽高和圆角 */
.yqlj{
    border-radius:0.2rem;
    width:100%;
    height:119px;
}

/* 设置总div的左右内边距，使总体内容居中 */
.my-index-px{
    padding:0 6%;
}
/* 设置最新电影中图片的固定宽高和内外边距清0 */
.my_header_width{
    padding:0;
    margin:0;
    width:162px;
    height:244px;
}
/* 设置热门电影中图片的固定宽高和内外边距清0 */
.my_header_sm_width{
    padding:0;
    margin:0;
    width:33px;
    height:51px;
}
/* 设置热门电影里a标签的字体颜色和大小 */
.list-inline-item>div>div>a{
    font-size:14px;
    color:#000
}
/* 设置最新电影中图片的父元素为相对定位 */
#bofang{
    position: relative;
}
/* 设置父元素下标签名为img的第1个子元素的
宽高背景颜色，相对父元素做绝对定位
设置元素透明，取值0-1
*/
#bofang>img:first-child{
    width:148px;
    height:222px;
    background:#000;
    position: absolute;
    top:19px;
    left:15px;
    opacity:0;
}
/* 设置父元素下标签名为img的第2个子元素的
相对父元素做绝对定位
设置元素透明，取值0-1
*/
#bofang>img:nth-child(2){
    position: absolute;
    top:31%;
    left:39%;
    opacity:0;
}
/* 设置父元素下标签名为img的第2个子元素，鼠标悬停时 */
#bofang>img:nth-child(2):hover{
    opacity:0.3;
}
/* 设置父元素下标签名为img的第1个子元素，鼠标悬停时 */
#bofang>img:first-child:hover{
    transform:scale(1.1);
    opacity:0.3;
}
/* 最新电影中的"更多"设置为右浮动和字体大小 */
.float-right{
    float:right;
    font-size:14px;
}
/* 设置像素最小为1200px时
左边最新电影宽度为80%，右边热门电影宽度为20%
最新电影里的图片宽度为20%，5张图片
*/
@media (min-width:1200px) {
    .col-80{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 81%;
        flex: 0 0 81%;
        max-width: 80%;
    }
    .col-20{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 19%;
    }
    .col-13{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/* 设置像素最小为992px，最大为1199px时
右边热门电影隐藏
最新电影里的图片宽度为20%，5张图片
*/
@media (min-width:992px) and (max-width:1199px) {
    .col-20{
        display: none
    }
    .col-13{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/* 设置像素最小为776px，最大为991px时
右边热门电影隐藏
最新电影里的图片宽度为25%，4张图片
*/
@media (max-width:991px) and (min-width: 768px) {
    .col-20{
        display: none
    }
    .col-13{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
/* 设置像素最大为775px时
右边热门电影隐藏
最新电影里的图片宽度为3333%，4张图片
*/
@media (max-width:765px) {
        .col-20{
            display: none
        }
        .col-13{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
            }
}
/* 网页头的样式 */

*{
    margin:0;padding:0
}
.w-90{
    width:90%;
}
.w-70{
    width:70%;
}
.w-65{
    width:65%;
}
.my-color {
    color: #999999;
}
.my_header_bg{
    background:#333;
}
.my_header_bg ul>li:hover{
    background:#222;
    height: 3rem;
}
.my_header_bg ul li.active{
    background:#222;
    height: 3rem;
}
.my_header_text{
    font-size:14px;
    line-height:32px;
}
.my_header_ml{
    margin-left: 5.5rem !important;
}
.my_header_input_ml{
    margin-left: 5rem !important;
}
.my_header_mr{
    margin-right: 7rem !important;
}
.my_header_height{
    height:3rem;
}
.form-control{
    background-color:#f5f5f5;
    height:2.3rem;
    border:none;
    width:380px;
}
.input-group>.form-control{
    background-repeat:no-repeat;
    background-position:98% center;
    background-image:url(../img/header/search_16px_1164646_easyicon.net.png);
}
.float-right{
    float:right;
}
.jrgx{
    font-size:14px;
    line-height:48px;
}
@media (max-width:775px) {
    .jrgx{
        display: none;
    }
}
@media (max-width:674px) {
    #qply{
        display: none;
    }
}


/* 网页尾的样式 */
.my_footer_bg{
    background:url(../img/index/bg_icon.jpg);
    background-color: #ededed;
}
.foot-text{
    color:#666;
    font-size:14px
}


