.my_header,.my_footer{width:100%}
/* 大屏下的iframe的高*/
@media (min-width: 992px) {
    .my_header{height:11rem}
    .my_footer{height:9rem}
}
/*中屏下的高*/
@media (max-width:991px) and (min-width: 576px) {
    .my_header{height:11rem}
    .my_footer{height:38rem}
}
/*字体的大小*/
.my_text_size{
    font-size: 0.7rem;
}
.w-20{
    width: 20%;
}
/*设置轮播图左右箭头的大小*/
.carousel-control-prev,.carousel-control-next{
    width:4%;height:20%;
    top:40%;
    background-color:rgba(0,0,0,.3);
    border-radius:0.25rem;
}
.progress-bar-striped_my_index {
    background-color:#e8e8e8;
}
.progress-bar.bg-white{
    box-sizing:border-box;
}
/*修改轮播图下面五个li的颜色*/
.carousel-indicators li{
    background:#efa2a9;
    width:1.2rem;
    height:0.3rem;

}
.carousel-indicators{
    margin-bottom: 1px !important;
}
.carousel-indicators .active {
    background-color:#ff0000;
}
.w-95{
    width:95%;
}
.icon-more:before { content: "\e6a7"; }